body { margin:0; scrollbar-3dlight-color:#d3d3d3; scrollbar-arrow-color:#656565; scrollbar-base-color:#ffffff; scrollbar-darkshadow-color:#d3d3d3; scrollbar-face-color:#e1e1e1; scrollbar-highlight-color:#ffffff; scrollbar-shadow-color:#e1e1e1; font: 9pt "verdana", "arial", "ו"; font-size: 12px; overflow-y:auto; }
td { font-size: 12px; line-height:150%;}
.fenye { margin-bottom:4px; text-align:right }
a:link, a:active, a:visited { color:#0f64cd; text-decoration:none }
a:hover { color:#f60; text-decoration:underline }
.input { border: 1px #ccc solid; height:18px; }
textarea { padding:1px; border: 1px #ccc solid; background-color: #fff; font-style: bold; }
select { padding:1px; border: 1px #ccc solid; background-color: #ffffff; font-style: bold; }

img { border:0;}
.top {width:100%; height:82px; background:url(../images/top_bg.gif) repeat-x;}
.left { width:200px; height:100%;  background:url('../images/tree/left_bg.gif') repeat-y right top;}


.tl01 { width:10px; height:10px; background:url(../images/tl01.gif) 0 0 no-repeat; overflow:hidden;}
.tr01 { width:18px; height:10px; background:url(../images/tr01.gif) 0 0 no-repeat; overflow:hidden;}
.tcnt { height:10px; background:url(../images/tc01.gif) 0 0 repeat-x; overflow:hidden;} 
.cl01 { width:10px; background:url(../images/cl01.gif) 0 0 repeat-y; overflow:hidden;}
.cr01 { width:18px; background:url(../images/cr01.gif) 0 0 repeat-y; overflow:hidden;}
.cnt { background:#f3f7fb;}

.tl02 { width:18px; height:10px; background:url(../images/tl02.gif) 0 0 no-repeat; overflow:hidden;}
.tr02 { width:10px; height:10px; background:url(../images/tr02.gif) 0 0 no-repeat; overflow:hidden;}
.cl02 { width:18px; background:url(../images/cl02.gif) 0 0 repeat-y; overflow:hidden;}
.cr02 { width:10px; background:url(../images/cr02.gif) 0 0 repeat-y; overflow:hidden;}


.main {width:100%; background:url(../images/main_bg.gif) 0 0 repeat-x;}
.ctxt { color:#f60; font-weight:bold;}
.table01 { width:98%; margin:0 auto; margin-top:4px; border-collapse: collapse;}
.table01 td { height:25px;}
.table02 { width:98%; margin:0 auto; margin-bottom:4px; border-collapse: collapse;}
.table02 td { padding:4px; border:1px #bcd2e9 solid;}
.table03 { width:98%; margin:0 auto; margin-bottom:4px; border-collapse: collapse;border:1px #bcd2e9 solid;}

.td01 { text-align:right;}
.contxt { width:50%; text-align:left;}
.list { margin-top:4px; text-align:center;}
.list span.fc01{ margin:0 2px; color:#00f; font-weight:bold;}
.list span.fc02{ margin:0 2px; color:#2fa600; font-weight:bold;}
.list span.fc03{ margin:0 2px; color:#f00; font-weight:bold;}
.btn01 { width:60px; height:20px; background:url(../images/btn01.gif) no-repeat; border:0; color:#fff; font-weight:bold; line-height:20px;}
.btn02 { width:70px; height:20px; background:url(../images/btn02.gif) no-repeat; border:0; color:#fff; font-weight:bold; line-height:20px;}
.warning { background-color: #f2f2f2; height:25px; color: red; padding-top: 2px; padding-left: 10px; }
.table { width:100%; background-color: #c2c2c2; font-size:10pt; }
.table_dg { width:100%; background-color: #689ecd; border-color:transparent; }
.page { background-color: #fff; height:23px; text-align:center; }
.tr_top { background-color: #f1f1f1; height:28px; text-align:center; }
.tr_title { height:25px; background: #e6eef7 url(../images/tr_titlebg.gif) 0 0 repeat-x; border: 1px solid #4788c1; color:#0a84da; font-weight:bold; line-height:25px; text-align:center; }
.tr_1 { background-color: #fff; height:25px; text-align:center; }
.tr_2 { background-color: #f0f7fe; height:25px; text-align:center; }
.td_left { background-color: #edf3f9; height:25px; }
.td_right { background-color: #fff; height:25px; padding-left: 3px; padding-right: 3px; padding-top: 1px; padding-bottom: 1px; }
.td_bottom { background-color: #dae8f7; height:25px; text-align:center; }
.btn { border-right: #81a1dd 1px solid; border-top: #81a1dd 1px solid; background: #ffffff; border-left: #81a1dd 1px solid; border-bottom: #81a1dd 1px solid; height: 14pt }
.button_1 { background: url('../images/bginput.gif') #ffffff fixed no-repeat; width:30px; padding: 3px 3px 0 6px; background-repeat: repeat-x; font-size:12px; border: 1px solid #4788c1; }
.button_2 { background: url('../images/bginput.gif') #ffffff fixed no-repeat; width:50px; padding: 3px 3px 0 6px; background-repeat: repeat-x; font-size:12px; border: 1px solid #4788c1; }
.button_3 { background: url('../images/bginput.gif') #ffffff fixed no-repeat; width:58px; padding: 3px 3px 0 6px; background-repeat: repeat-x; font-size:12px; border: 1px solid #4788c1; }
.button_4 { background: url('../images/bginput.gif') #ffffff fixed no-repeat; width:66px; padding: 3px 3px 0 6px; background-repeat: repeat-x; font-size:12px; border: 1px solid #4788c1; }
.button_5 { background: url('../images/bginput.gif') #ffffff fixed no-repeat; width:78px; padding: 3px 3px 0 6px; background-repeat: repeat-x; font-size:12px; border: 1px solid #4788c1; }
.button_6 { background: url('../images/bginput.gif') #ffffff fixed no-repeat; width:88px; padding: 3px 3px 0 6px; background-repeat: repeat-x; font-size:12px; border: 1px solid #4788c1; }
.button_7 { background: url('../images/bginput.gif') #ffffff fixed no-repeat; width:98px; padding: 3px 3px 0 6px; background-repeat: repeat-x; font-size:12px; border: 1px solid #4788c1; }
.button_8 { background: url('../images/bginput.gif') #ffffff fixed no-repeat; width:110px; padding: 3px 3px 0 6px; background-repeat: repeat-x; font-size:12px; border: 1px solid #4788c1; }
.button_9 { background: url('../images/bginput.gif') #ffffff fixed no-repeat; width:120px; padding: 3px 3px 0 6px; background-repeat: repeat-x; font-size:12px; border: 1px solid #4788c1; }
.button_10 { background: url('../images/bginput.gif') #ffffff fixed no-repeat; width:132px; padding: 3px 3px 0 6px; background-repeat: repeat-x; font-size:12px; border: 1px solid #4788c1; }
.FixedRow
{ 
  position: relative; 
  top: expression(this.offsetParent.scrollTop); 
  height:25px;
  text-align:center;
  background: #e6eef7 url(../images/tr_titlebg.gif) 0 0 repeat-x;
  border : 1px solid #4788c1;
   color:#0a84da;
   font-weight:bold; 
   line-height:25px;
  
} 