HTML {
	HEIGHT: 100%
}
BODY {
	HEIGHT: 100%
}
BODY {
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; COLOR: #000; FONT-SIZE: 12px
}
INPUT {
	VERTICAL-ALIGN: middle
}
IMG {
	VERTICAL-ALIGN: middle
}
A {
	COLOR: #000
}
A:hover {
	TEXT-DECORATION: none
}
.lnk {
	COLOR: #2081bf
}
lnk:visited {
	COLOR: #2081bf
}
.lnk:hover {
	COLOR: #2081bf; TEXT-DECORATION: underline
}
.fl {
	FLOAT: left
}
.fr {
	FLOAT: right
}
.mgt {
	MARGIN-TOP: 10px
}
.mbt {
	MARGIN-BOTTOM: 10px
}
.w62 {
	WIDTH: 61.5%
}
.w32 {
	WIDTH: 32.5%
}
.home_box2{
	WIDTH: 326px;
	position: absolute;
	top: 0;
	right:0px;
}
.home_box1 {
	margin-right:360px;	
}
.mbg {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 20px; PADDING-RIGHT: 20px; BACKGROUND: url(../images/bg.gif) #e1eef8 fixed repeat-x 0px 0px; PADDING-TOP: 0px
}
.head {
	POSITION: relative; BACKGROUND: url(../images/b01.gif) repeat-x 0px -425px; HEIGHT: 76px
}
.h_logo {
	WIDTH: 484px; BACKGROUND: url(../images/logo.png) no-repeat; FLOAT: left; HEIGHT: 76px
}
.c_User {
	TEXT-ALIGN: right; LINE-HEIGHT: 56px; MARGIN: 0px; WIDTH: 430px; PADDING-RIGHT: 90px; DISPLAY: block;  FLOAT: right; HEIGHT: 76px; COLOR: #fff; OVERFLOW: hidden
}
.c_User SPAN.user {
	PADDING-LEFT: 18px; BACKGROUND: url(../images/user.gif) no-repeat; FONT-WEIGHT: bold; MARGIN-RIGHT: 0px
}
.c_User SPAN.date {
	PADDING-LEFT: 14px; BACKGROUND: url(../images/d02.gif) no-repeat
}
.c_User A {
	COLOR: #ff0
}
.c_User A:hover {
	COLOR: #ff0; TEXT-DECORATION: underline
}
.c_User IMG {
	MARGIN-TOP: 2px; MARGIN-RIGHT: 8px
}
.old {
	POSITION: absolute; WIDTH: 82px; HEIGHT: 32px; TOP: 12px; RIGHT: 12px
}
.comp {
	POSITION: absolute; WIDTH: 82px; HEIGHT: 32px; TOP: 38px; RIGHT: 12px
}
.h_nav {
	POSITION: relative; MARGIN: 0px; PADDING-LEFT: 25px; BACKGROUND: url(../images/b01.gif) repeat-x 0px -501px; HEIGHT: 29px
}
.menu {
	POSITION: absolute; HEIGHT: 29px; OVERFLOW: hidden; LEFT: 1px
}
.menu UL {
	MARGIN: 0px; OVERFLOW: hidden
}
.menu LI {
	DISPLAY: inline; FLOAT: left; OVERFLOW: hidden; MARGIN-RIGHT: 1px
}
.menu A {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 4px; PADDING-RIGHT: 0px; BACKGROUND: url(../images/menu.gif) no-repeat left -32px; FLOAT: left; TEXT-DECORATION: none; PADDING-TOP: 0px
}
.menu A IMG {
	MARGIN-RIGHT: 3px
}
.menu A SPAN {
	PADDING-BOTTOM: 2px; PADDING-LEFT: 6px; PADDING-RIGHT: 10px; DISPLAY: block; BACKGROUND: url(../images/menu.gif) no-repeat right -32px; FLOAT: left; COLOR: #416fab; FONT-WEIGHT: bold; PADDING-TOP: 6px
}
.menu A SPAN {
	FLOAT: none
}
.menu A SPAN {
	PADDING-BOTTOM: 2px; PADDING-LEFT: 1px; PADDING-RIGHT: 1px; DISPLAY: block; BACKGROUND: url(../images/menu.gif) no-repeat right -32px; FLOAT: left; COLOR: #416fab; FONT-WEIGHT: bold; PADDING-TOP: 6px
}
.menu A SPAN {
	FLOAT: none
}
.menu A:hover SPAN {
	COLOR: #0e5595
}
.menu A:hover {
	BACKGROUND-POSITION: 0% -64px
}
.menu A:hover SPAN {
	BACKGROUND-POSITION: 100% -64px
}
.menu .act A {
	BACKGROUND-POSITION: 0% 0px
}
.menu .act A:hover {
	BACKGROUND-POSITION: 0% 0px
}
.menu .act A SPAN {
	PADDING-BOTTOM: 4px; PADDING-LEFT: 6px; PADDING-RIGHT: 10px; BACKGROUND-POSITION: 100% 0px; COLOR: #fff; PADDING-TOP: 6px
}
.menu .act A:hover SPAN {
	PADDING-BOTTOM: 4px; PADDING-LEFT: 6px; PADDING-RIGHT: 10px; BACKGROUND-POSITION: 100% 0px; COLOR: #fff; PADDING-TOP: 6px
}
.menu .l_sel A {
	BACKGROUND-POSITION: 0% 0px
}
.menu .l_sel A:hover {
	BACKGROUND-POSITION: 0% 0px
}
.menu .l_sel A SPAN {
	PADDING-BOTTOM: 4px; PADDING-LEFT: 6px; PADDING-RIGHT: 10px; BACKGROUND-POSITION: 100% 0px; COLOR: #fff; PADDING-TOP: 6px
}
.menu .l_sel A:hover SPAN {
	PADDING-BOTTOM: 4px; PADDING-LEFT: 6px; PADDING-RIGHT: 10px; BACKGROUND-POSITION: 100% 0px; COLOR: #fff; PADDING-TOP: 6px
}
.mSel {
	POSITION: absolute; TOP: 0px; CURSOR: pointer; RIGHT: 4px
}
.inform{ width:326px; min-height:138px; margin-bottom:7px; background:url(../images/notice-bottom.gif) no-repeat bottom; padding-bottom:5px;}
.info_title{ position:relative; width:326px; height:28px; background:url(../images/notice-top.gif) no-repeat;}
.info_title h2{ position:absolute; left:25px; top:3px; font: bold 16px/25px "MicroSoft YaHei", Verdana; color:#0065be; }
.info_title .more{ position:absolute; right:10px; top:5px;}
.info_title .more a{ color:#6c6c6c;}
.info_title .more a:hover{ color:#424242;}
.info_list{ padding:8px 17px; background:url(../images/noticebg.gif) repeat-y;}
.info_list li{ background:url(../images/notice.gif) no-repeat 0 6px; height:22px; line-height:22px; overflow:hidden; text-indent:18px;}
.info_list li a:hover{ color:#0057b8;}

.link_box{ overflow:hidden;}
.watch_btn{ float:left; margin-right:5px; width:102px; height:108px; display:block; background:url(../images/home_btn.gif) no-repeat 0 0;}
.watch_btn:hover{ background:url(../images/home_btn2.gif) no-repeat 0 0;}
.link_mid{ float:left; width:112px; margin-right:5px;}
.people_btn{ width:112px; height:34px; margin-bottom:3px; display:block; background:url(../images/home_btn.gif) no-repeat -107px 0;}
.people_btn:hover{ background:url(../images/home_btn2.gif) no-repeat -107px 0;}
.project_btn{ width:112px; height:34px; margin-bottom:3px; display:block; background:url(../images/home_btn.gif) no-repeat -107px -37px;}
.project_btn:hover{ background:url(../images/home_btn2.gif) no-repeat -107px -37px;}
.contact_btn{ width:112px; height:34px; margin-bottom:3px; display:block; background:url(../images/home_btn.gif) no-repeat -107px -74px;}
.contact_btn:hover{ background:url(../images/home_btn2.gif) no-repeat -107px -74px;}
.monitor_btn{ float:left; width:102px; height:108px;  display:block; background:url(../images/home_btn.gif) no-repeat -225px 0;}
.monitor_btn:hover{ background:url(../images/home_btn2.gif) no-repeat -225px 0;}

.file{ overflow:hidden;}
#tab{ position:relative;}
#tab .more{ position:absolute; top:5px; right:10px;}
.tabTitle { width:100%; height:27px; overflow:hidden; background:url(../images/homeline1.gif) repeat-x bottom;}
.tabTitle li { float:left; text-align:center; display:inline; background:url(../images/homeline2.gif) no-repeat top right;}
.tabTitle li a { height:27px; padding:0 15px; display:block; line-height:18px !important; color:#787878; font: bold 16px/25px "MicroSoft YaHei", Verdana;}
.tabTitle li.tabTitleCurrt a { background:url(../images/title_hover.gif) no-repeat bottom; height:27px; display:block; color:#0065b8;}
.tabTitle li.last{ background:none;}
.tabCont { clear:both; overflow: hidden; height:210px; padding:10px 0; }
.tabCont_other { clear:both; overflow: hidden; padding:10px 0; }
.tab_content_normal { display: none; }

.side {
	BORDER-LEFT: #229ddb 0px solid; BACKGROUND: url(../images/side_bg.gif) repeat-y 0px 0px; HEIGHT: 100%; BORDER-RIGHT: #fff 0px solid
}
.side .sTitle {
	BORDER-BOTTOM: #bdc9d7 0px solid; POSITION: absolute; WIDTH: 152px; BACKGROUND: url(../images/t01.gif) no-repeat 0px -87px; HEIGHT: 32px; COLOR: #fff; FONT-SIZE: 14px; FONT-WEIGHT: bold; BORDER-RIGHT: #b8e5fa 1px solid; cursor:pointer;
}
.side .sTitle .sTitle_con {
	LINE-HEIGHT: 24px; WIDTH: 114px; HEIGHT: 24px; MARGIN-LEFT: 48px; PADDING-TOP: 4px
}
.side .sTitle .sTitle_con IMG {
	MARGIN: 2px 6px 0px 12px; FLOAT: left; VERTICAL-ALIGN: middle
}
.sidePan {
	WIDTH: 151px; DISPLAY: block; HEIGHT: 100%; FONT-SIZE: 12px; BORDER-TOP: #98c8f1 1px solid; BORDER-RIGHT: #98c8f1 1px solid
}
.sidePan UL {
	BORDER-BOTTOM: #fff 1px solid; PADDING-BOTTOM: 0px; MARGIN-TOP: 32px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
.sidePan LI {
	LINE-HEIGHT: 30px; DISPLAY: block; BACKGROUND: url(../images/b01.gif) repeat-x 0px -598px; HEIGHT: 30px; CURSOR: pointer
}
.sidePan LI A {
	PADDING-LEFT: 48px; DISPLAY: inline-block; BACKGROUND: url(../images/i01.gif) no-repeat 28px -20px; COLOR: #363636
}
.sidePan LI A:hover {
	COLOR: #1671af
}
.sidePan LI.l_sel A {
	TEXT-ALIGN: center; PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; DISPLAY: block; BACKGROUND: url(../images/b01.gif) repeat-x 0px -568px; LETTER-SPACING: 1px; COLOR: #1671af; FONT-WEIGHT: bold; PADDING-TOP: 0px
}
.sidePan LI.l_sel A:hover {
	TEXT-ALIGN: center; PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; DISPLAY: block; BACKGROUND: url(../images/b01.gif) repeat-x 0px -568px; LETTER-SPACING: 1px; COLOR: #1671af; FONT-WEIGHT: bold; PADDING-TOP: 0px
}
.btd {
	BORDER-TOP: #fff 1px solid; BORDER-RIGHT: #abd5eb 1px solid
}
.mtd {
	BACKGROUND: url(../images/line02.gif) repeat-x left bottom; HEIGHT: 25px
}
.f_table {
	MARGIN: 0px 4px
}
.mTable {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; WIDTH: 149px; MARGIN-BOTTOM: 2px; BORDER-TOP: 0px; BORDER-RIGHT: 0px
}
.mTitle {
	LINE-HEIGHT: 28px; PADDING-LEFT: 38px; WIDTH: 111px; HEIGHT: 28px; COLOR: #fff; FONT-SIZE: 12px; CURSOR: pointer; FONT-WEIGHT: bold
}
.sec_menu {
	WIDTH: 149px
}
.sec_table {
	WIDTH: 95%
}
A.mLeft:link {
	LINE-HEIGHT: 28px; PADDING-LEFT: 32px; BACKGROUND: url(../images/li02.gif) no-repeat 14px 2px; HEIGHT: 28px; COLOR: #06c; FONT-SIZE: 12px; TEXT-DECORATION: none; _background: url(../images/li02.gif) 16px 9px no-repeat
}
A.mLeft:visited {
	LINE-HEIGHT: 28px; PADDING-LEFT: 32px; BACKGROUND: url(../images/li02.gif) no-repeat 14px 2px; HEIGHT: 28px; COLOR: #06c; FONT-SIZE: 12px; TEXT-DECORATION: none; _background: url(../images/li02.gif) 16px 9px no-repeat
}
A.mLeft:hover {
	LINE-HEIGHT: 28px; HEIGHT: 28px; COLOR: #06c; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
.mActive:link {
	LINE-HEIGHT: 28px; PADDING-LEFT: 32px; BACKGROUND: url(../images/li01.gif) no-repeat 16px 2px; HEIGHT: 28px; COLOR: #223b7a; FONT-SIZE: 12px; FONT-WEIGHT: bold; TEXT-DECORATION: none; _background: url(../images/li01.gif) 16px 9px no-repeat
}
A.mActive:visited {
	LINE-HEIGHT: 28px; PADDING-LEFT: 32px; BACKGROUND: url(../images/li01.gif) no-repeat 16px 2px; HEIGHT: 28px; COLOR: #223b7a; FONT-SIZE: 12px; FONT-WEIGHT: bold; TEXT-DECORATION: none; _background: url(../images/li01.gif) 16px 9px no-repeat
}
.mActive:hover {
	TEXT-ALIGN: center; LINE-HEIGHT: 28px; HEIGHT: 28px; COLOR: #223b7a; TEXT-DECORATION: none
}
.swich {
	WIDTH: 10px; BACKGROUND: url(../images/sbg.gif) repeat-y 0px 0px; BORDER-RIGHT: #d1e6f7 1px solid
}
.swich SPAN {
	BORDER-BOTTOM: #c4c4c4 1px solid; POSITION: absolute; MARGIN: 1px 0px 0px 1px; BACKGROUND: #e7e7e7; HEIGHT: 29px
}
.swich A {
	POSITION: relative
}
.swich A IMG {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; BORDER-TOP: 0px; BORDER-RIGHT: 0px
}
.current {
	BORDER-BOTTOM: #d9e2eb 1px solid; BORDER-LEFT: #d9e2eb 1px solid; LINE-HEIGHT: 25px; BACKGROUND: url(../images/b01.gif) #fff repeat-x 0px -530px; HEIGHT: 25px; BORDER-TOP: #d9e2eb 1px solid; BORDER-RIGHT: #d9e2eb 1px solid; border-radius: 4px; box-shadow: 0 2px 2px #eee
}
.curCon {
	PADDING-BOTTOM: 2px; PADDING-LEFT: 20px; PADDING-RIGHT: 0px; BACKGROUND: url(../images/i01.gif) no-repeat 0px 5px; COLOR: #666; MARGIN-LEFT: 6px; PADDING-TOP: 2px
}
.curCon SPAN {
	FONT-WEIGHT: bold
}
.curCon A {
	COLOR: #2081bf
}
.curCon A:hover {
	COLOR: #2081bf; TEXT-DECORATION: underline
}
.main {
	MARGIN: 4px; OVERFLOW: hidden
}
.home {
	MIN-WIDTH: 1080px; PADDING-BOTTOM: 20px; MARGIN: 0px auto
}
.wlft {
	MARGIN-BOTTOM: 20px
}
.wrgt {
	MARGIN-BOTTOM: 20px
}
.wlft {
	WIDTH: 79.5%; FLOAT: left; position:relative;
}
.wrgt {
	WIDTH: 19%; FLOAT: right
}
.sms {
	POSITION: fixed; BOTTOM: 20px; RIGHT: 20px
}
#sms {
	WIDTH: 77px; HEIGHT: 72px
}
.box {
	MARGIN: 0px auto; WIDTH: 990px; OVERFLOW: hidden
}
.notice {
	WIDTH: 492px; BACKGROUND: url(../images/ntbg.gif) no-repeat; HEIGHT: 98px; OVERFLOW: hidden
}
.task {
	WIDTH: 492px; BACKGROUND: url(../images/ntbg.gif) no-repeat; HEIGHT: 98px; OVERFLOW: hidden
}
.notice H1 {
	POSITION: relative; LINE-HEIGHT: 33px; PADDING-LEFT: 25px; HEIGHT: 28px; COLOR: #0474b1; FONT-SIZE: 13px; OVERFLOW: hidden; FONT-WEIGHT: bold
}
.task H1 {
	POSITION: relative; LINE-HEIGHT: 33px; PADDING-LEFT: 25px; HEIGHT: 28px; COLOR: #0474b1; FONT-SIZE: 13px; OVERFLOW: hidden; FONT-WEIGHT: bold
}
.notice H1 A {
	POSITION: absolute; COLOR: #0f76fe; TOP: 8px; RIGHT: 6px
}
.task H1 A {
	POSITION: absolute; COLOR: #0f76fe; TOP: 8px; RIGHT: 6px
}
.notice UL {
	PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; PADDING-LEFT: 14px; PADDING-RIGHT: 8px; OVERFLOW: hidden; LIST-STYLE-IMAGE: none; PADDING-TOP: 6px
}
.task UL {
	PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; PADDING-LEFT: 14px; PADDING-RIGHT: 8px; OVERFLOW: hidden; LIST-STYLE-IMAGE: none; PADDING-TOP: 6px
}
.notice UL LI {
	LINE-HEIGHT: 19px; DISPLAY: block; OVERFLOW: hidden
}
.notice UL LI IMG {
	DISPLAY: block; FLOAT: left; VERTICAL-ALIGN: middle; MARGIN-RIGHT: 2px
}
.notice UL LI A {
	FLOAT: left; FONT-SIZE: 13px
}
.notice UL LI SPAN {
	WIDTH: 65px; FLOAT: right; COLOR: #999
}
.task UL LI {
	LINE-HEIGHT: 19px; PADDING-LEFT: 20px; DISPLAY: block; BACKGROUND: url(../images/trumpet.gif) no-repeat 0px 2px; OVERFLOW: hidden
}
.task UL LI A {
	FLOAT: left; FONT-SIZE: 13px
}
.task UL LI SPAN {
	WIDTH: 65px; FLOAT: right; COLOR: #999
}
.map {
	TEXT-ALIGN: center; PADDING-BOTTOM: 0px; MARGIN: 4px 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; OVERFLOW: hidden; PADDING-TOP: 0px
}
.mbox {
	BORDER-BOTTOM: #bbcddb 1px solid; BORDER-LEFT: #bbcddb 1px solid; PADDING-BOTTOM: 10px; MARGIN-TOP: 20px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; ZOOM: 1; FONT-FAMILY: "MicroSoft YaHei", Verdana; BACKGROUND: #fff; HEIGHT: 250px; OVERFLOW: hidden; BORDER-TOP: #bbcddb 1px solid; BORDER-RIGHT: #bbcddb 1px solid; PADDING-TOP: 10px; border-radius: 5px; box-shadow: 0 0 5px #ccc
}
.mbox .mtit {
	BORDER-BOTTOM: #cecece 2px solid
}
.mbox EM {
	BORDER-BOTTOM: #39a0db 2px solid; TEXT-ALIGN: center; WIDTH: 80px; DISPLAY: block; FONT: bold 16px/25px "MicroSoft YaHei", Verdana; FLOAT: left; HEIGHT: 25px; COLOR: #0065b8; MARGIN-RIGHT: 10px
}
.mbox H1 {
	LINE-HEIGHT: 25px; HEIGHT: 25px; MARGIN-LEFT: 20px
}
.reo {
	MARGIN-LEFT: 470px; _float: right; _margin: 0
}
.count {
	BORDER-BOTTOM: #a6c9e2 1px solid; BORDER-LEFT: #a6c9e2 1px solid; PADDING-BOTTOM: 10px; PADDING-LEFT: 10px; WIDTH: 200px; PADDING-RIGHT: 10px; HEIGHT: 186px; MARGIN-LEFT: 10px; BORDER-TOP: #a6c9e2 1px solid; BORDER-RIGHT: #a6c9e2 1px solid; PADDING-TOP: 10px
}
.count H2 {
	BORDER-BOTTOM: #a6c9e2 1px solid; PADDING-BOTTOM: 4px; PADDING-LEFT: 22px; FONT: bold 18px/24px "MicroSoft YaHei", Verdana; MARGIN-BOTTOM: 15px; BACKGROUND: url(../images/d01.gif) no-repeat 0px 2px; COLOR: #2e6e9e
}
.count P {
	FONT: bold 16px/22px "MicroSoft YaHei", Verdana; COLOR: #0024ff
}
.count P B {
	TEXT-ALIGN: right; WIDTH: 80px; DISPLAY: inline-block; COLOR: #444
}
.per {
	MARGIN-BOTTOM: 6px; MARGIN-LEFT: 80px
}
.list {
	BORDER-BOTTOM: #a6c9e2 1px solid; BORDER-LEFT: #a6c9e2 1px solid; WIDTH: 100%; BORDER-COLLAPSE: collapse; FONT-FAMILY: "宋体", Verdana; FONT-SIZE: 12px; BORDER-TOP: #4297d7 1px solid; BORDER-RIGHT: #a6c9e2 1px solid
}
.list TR {
	BORDER-BOTTOM: #a6c9e2 1px solid; BORDER-LEFT: #a6c9e2 1px solid; PADDING-BOTTOM: 2px; PADDING-LEFT: 4px; PADDING-RIGHT: 4px; BORDER-TOP: #a6c9e2 1px solid; BORDER-RIGHT: #a6c9e2 1px solid; PADDING-TOP: 2px
}
.list TD {
	BORDER-BOTTOM: #a6c9e2 1px solid; BORDER-LEFT: #a6c9e2 1px solid; PADDING-BOTTOM: 2px; PADDING-LEFT: 4px; PADDING-RIGHT: 4px; BORDER-TOP: #a6c9e2 1px solid; BORDER-RIGHT: #a6c9e2 1px solid; PADDING-TOP: 2px
}
.list TH {
	BORDER-BOTTOM: #a6c9e2 1px solid; TEXT-ALIGN: center; BORDER-LEFT: #a6c9e2 1px solid; LINE-HEIGHT: 22px; BACKGROUND: url(../images/thbg.gif) repeat-x; COLOR: #2e6e9e; BORDER-TOP: #a6c9e2 1px solid; FONT-WEIGHT: bold; BORDER-RIGHT: #a6c9e2 1px solid
}
.list TD.sel {
	BACKGROUND: #eaf4fd
}
.list TR.sel {
	BACKGROUND: #eaf4fd
}
.list A {
	COLOR: #2081bf; TEXT-DECORATION: none
}
.list A:hover {
	COLOR: #2081bf; TEXT-DECORATION: underline
}
.pos01 {
	POSITION: relative
}
#tip {
	Z-INDEX: 99; POSITION: absolute; WIDTH: 182px; BACKGROUND: url(../images/tip.png) no-repeat; HEIGHT: 148px; OVERFLOW: hidden
}
#tip UL {
	TEXT-ALIGN: left; MARGIN-TOP: 15px; MARGIN-LEFT: 14px
}
.tip {
	Z-INDEX: 9999; POSITION: absolute; WIDTH: 182px; DISPLAY: none; BACKGROUND: url(../images/tip.png) no-repeat; HEIGHT: 148px; MARGIN-LEFT: -90px; OVERFLOW: hidden
}
.tip UL {
	TEXT-ALIGN: left; MARGIN-TOP: 15px; MARGIN-LEFT: 14px
}
.ext {
	COLOR: #d21e00
}
.hot {
	PADDING-BOTTOM: 4px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; COLOR: #333; OVERFLOW: hidden; PADDING-TOP: 4px
}
.hot H2 {
	COLOR: #000; FONT-SIZE: 13px; FONT-WEIGHT: bold
}
.hot P {
	TEXT-INDENT: 2em; MARGIN-BOTTOM: 6px
}
.hot I {
	COLOR: #0024ff; MARGIN-RIGHT: 2px
}
.tit {
	BORDER-BOTTOM: #fff 0px solid; POSITION: relative; LINE-HEIGHT: 25px; MARGIN-TOP: 4px; PADDING-LEFT: 22px; DISPLAY: block; BACKGROUND: #dce8f7; HEIGHT: 25px; FONT-SIZE: 13px; CURSOR: pointer; FONT-WEIGHT: bold
}
.tit IMG {
	POSITION: absolute; MARGIN: 5px 6px 0px 0px; WIDTH: 9px; HEIGHT: 9px; VERTICAL-ALIGN: middle; TOP: 3px; LEFT: 7px
}
.search_btn {
	MARGIN: 8px 0px; BACKGROUND: url(../images/b01.gif) 0px -194px; _width: 98%
}
.input {
	WIDTH: 90px
}
.btn_con INPUT {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; LINE-HEIGHT: 23px; MARGIN: 0px 10px; WIDTH: 72px; DISPLAY: block; BACKGROUND: url(../images/t01.gif) no-repeat -79px -150px; FLOAT: left; HEIGHT: 23px; BORDER-TOP: 0px; BORDER-RIGHT: 0px
}
.btn01 {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; LINE-HEIGHT: 23px; WIDTH: 65px; BACKGROUND: url(../images/t01.gif) no-repeat -85px -124px; HEIGHT: 22px; COLOR: #fff; BORDER-TOP: 0px; CURSOR: pointer; FONT-WEIGHT: bold; BORDER-RIGHT: 0px
}
.btn02 {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; LINE-HEIGHT: 23px; WIDTH: 65px; BACKGROUND: url(../images/t01.gif) no-repeat 0px -124px; HEIGHT: 22px; COLOR: #fff; BORDER-TOP: 0px; CURSOR: pointer; FONT-WEIGHT: bold; BORDER-RIGHT: 0px
}
.btn03 {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; LINE-HEIGHT: 23px; WIDTH: 90px; BACKGROUND: url(../images/t01.gif) no-repeat 0px -178px; HEIGHT: 22px; COLOR: #fff; BORDER-TOP: 0px; CURSOR: pointer; FONT-WEIGHT: bold; BORDER-RIGHT: 0px
}
.btn04 {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; LINE-HEIGHT: 23px; WIDTH: 120px; BACKGROUND: url(../images/t01.gif) no-repeat 0px -205px; HEIGHT: 22px; COLOR: #fff; BORDER-TOP: 0px; CURSOR: pointer; FONT-WEIGHT: bold; BORDER-RIGHT: 0px
}
.table01 {
	BORDER-BOTTOM: #5395c9 1px solid; BORDER-LEFT: #5395c9 1px solid; MARGIN: 4px auto 0px; WIDTH: 99.5%; BORDER-COLLAPSE: collapse; FONT-SIZE: 12px; BORDER-TOP: #5395c9 1px solid; BORDER-RIGHT: #5395c9 1px solid
}
.table01 SELECT {
	WIDTH: 80px; HEIGHT: 24px
}
.table01 TR {
	BORDER-BOTTOM: #5395c9 1px solid; BORDER-LEFT: #5395c9 1px solid; PADDING-BOTTOM: 2px; PADDING-LEFT: 4px; PADDING-RIGHT: 4px; HEIGHT: 24px; BORDER-TOP: #5395c9 1px solid; BORDER-RIGHT: #5395c9 1px solid; PADDING-TOP: 2px
}
.table01 TH {
	BORDER-BOTTOM: #5395c9 1px solid; BORDER-LEFT: #5395c9 1px solid; PADDING-BOTTOM: 2px; PADDING-LEFT: 4px; PADDING-RIGHT: 4px; HEIGHT: 24px; BORDER-TOP: #5395c9 1px solid; BORDER-RIGHT: #5395c9 1px solid; PADDING-TOP: 2px
}
.table01 TD {
	BORDER-BOTTOM: #5395c9 1px solid; BORDER-LEFT: #5395c9 1px solid; PADDING-BOTTOM: 2px; PADDING-LEFT: 4px; PADDING-RIGHT: 4px; HEIGHT: 24px; BORDER-TOP: #5395c9 1px solid; BORDER-RIGHT: #5395c9 1px solid; PADDING-TOP: 2px
}
.table01 TD INPUT {
	PADDING-BOTTOM: 0px; LINE-HEIGHT: 22px; PADDING-LEFT: 2px; PADDING-RIGHT: 2px; HEIGHT: 22px; PADDING-TOP: 0px
}
.table01 TD IMG {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; BORDER-TOP: 0px; CURSOR: pointer; BORDER-RIGHT: 0px
}
.btnPageGo {
	BACKGROUND-IMAGE: url(../images/PageGo.gif); BORDER-BOTTOM-STYLE: none; PADDING-BOTTOM: 0px; BORDER-RIGHT-STYLE: none; BACKGROUND-COLOR: #deebff; MARGIN: 0px; PADDING-LEFT: 0px; WIDTH: 22px; PADDING-RIGHT: 0px; BORDER-TOP-STYLE: none; HEIGHT: 22px; FONT-SIZE: 12px; BORDER-LEFT-STYLE: none; CURSOR: hand; PADDING-TOP: 0px
}
.btnPageUp {
	BACKGROUND-IMAGE: url(../images/PageUp.gif); BORDER-BOTTOM-STYLE: none; PADDING-BOTTOM: 0px; BORDER-RIGHT-STYLE: none; BACKGROUND-COLOR: #deebff; MARGIN: 0px; PADDING-LEFT: 0px; WIDTH: 22px; PADDING-RIGHT: 0px; BORDER-TOP-STYLE: none; HEIGHT: 22px; FONT-SIZE: 12px; BORDER-LEFT-STYLE: none; CURSOR: hand; PADDING-TOP: 0px
}
.btnPageUpFront {
	BACKGROUND-IMAGE: url(../images/PageUpFront.gif); BORDER-BOTTOM-STYLE: none; PADDING-BOTTOM: 0px; BORDER-RIGHT-STYLE: none; BACKGROUND-COLOR: #deebff; MARGIN: 0px; PADDING-LEFT: 0px; WIDTH: 22px; PADDING-RIGHT: 0px; BORDER-TOP-STYLE: none; HEIGHT: 22px; FONT-SIZE: 12px; BORDER-LEFT-STYLE: none; CURSOR: hand; PADDING-TOP: 0px
}
.btnPageDown {
	BACKGROUND-IMAGE: url(../images/PageDown.gif); BORDER-BOTTOM-STYLE: none; PADDING-BOTTOM: 0px; BORDER-RIGHT-STYLE: none; BACKGROUND-COLOR: #deebff; MARGIN: 0px; PADDING-LEFT: 0px; WIDTH: 22px; PADDING-RIGHT: 0px; BORDER-TOP-STYLE: none; HEIGHT: 22px; FONT-SIZE: 12px; BORDER-LEFT-STYLE: none; CURSOR: hand; PADDING-TOP: 0px
}
.btnPageDownEnd {
	BACKGROUND-IMAGE: url(../images/PageDownEnd.gif); BORDER-BOTTOM-STYLE: none; PADDING-BOTTOM: 0px; BORDER-RIGHT-STYLE: none; BACKGROUND-COLOR: #deebff; MARGIN: 0px; PADDING-LEFT: 0px; WIDTH: 22px; PADDING-RIGHT: 0px; BORDER-TOP-STYLE: none; HEIGHT: 22px; FONT-SIZE: 12px; BORDER-LEFT-STYLE: none; CURSOR: hand; PADDING-TOP: 0px
}
.btnPage {
	BACKGROUND-IMAGE: url(../images/Page.gif); BORDER-BOTTOM-STYLE: none; TEXT-ALIGN: center; PADDING-BOTTOM: 0px; BORDER-RIGHT-STYLE: none; BACKGROUND-COLOR: #deebff; MARGIN: 0px; PADDING-LEFT: 0px; WIDTH: 22px; PADDING-RIGHT: 0px; FONT-FAMILY: 黑体; BORDER-TOP-STYLE: none; HEIGHT: 22px; FONT-SIZE: 12px; BORDER-LEFT-STYLE: none; CURSOR: hand; FONT-WEIGHT: bold; PADDING-TOP: 0px
}
.table01 TH {
	TEXT-ALIGN: center; BACKGROUND: url(../images/b01.gif) #1ba7ec repeat-x 0px -240px; COLOR: #fff; FONT-WEIGHT: bold
}
.table01 TD.sel {
	BACKGROUND: #e9f3ff
}
.table01 TR.sel {
	BACKGROUND: #e9f3ff
}
.table01 TR.hover {
	TEXT-ALIGN: center; BACKGROUND: #5ec7fa; COLOR: #fff
}
.table01 A {
	COLOR: #2081bf; TEXT-DECORATION: none
}
.table01 A:hover {
	COLOR: #2081bf; CURSOR: pointer; TEXT-DECORATION: underline
}
.tName {
	TEXT-ALIGN: center; BACKGROUND: #e9f3ff
}
.tr_1 {
	TEXT-ALIGN: center; BACKGROUND: #fff
}
.tr_2 {
	TEXT-ALIGN: center; BACKGROUND: #e9f3ff
}
.listPage {
	TEXT-ALIGN: center; DISPLAY: block
}
.listPage SPAN {
	COLOR: #f00
}
.listPage A {
	COLOR: #046da5; TEXT-DECORATION: none
}
.listPage A:hover {
	TEXT-DECORATION: underline
}
.listPage SPAN.none {
	COLOR: #888
}
.mapSel {
	POSITION: absolute; TOP: 82px; RIGHT: 10px
}
.footer {
	TEXT-ALIGN: center; WIDTH: 100%; BACKGROUND: url(../images/b01.gif) repeat-x 0px -370px; HEIGHT: 31px
}
.footer .CopyRight {
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; PADDING-TOP: 6px; magin: 0 auto
}
.title {
	TEXT-ALIGN: center; BACKGROUND: url(../images/b01.gif) #1ba7ec repeat-x 0px -240px; COLOR: #fff; FONT-WEIGHT: bold
}

#tab .more a{ color:#6c6c6c;}
#tab .more a:hover{ color:#42425f;}