<title>梅州水库移民动态监管地理信息应用系统</title>
<meta http-equiv="Pragma" content="no-cache" />
<meta http-equiv="Cache-Control" content="no-cache" />
<link type="text/css" rel="stylesheet" href="${rc.contextPath}/statics/css/reset.css" />
<link type="text/css" rel="stylesheet" href="${rc.contextPath}/statics/css/style.css" />
<link rel="stylesheet" type="text/css" href="${rc.contextPath}/statics/css/main.css">
<link rel="stylesheet" type="text/css" href="${rc.contextPath}/statics/css/tab.css">
<link type="text/css" rel="stylesheet" href="${rc.contextPath}/statics/css/slide.css">
<script type="text/javascript" src="${rc.contextPath}/statics/js/jquery.min.js"></script>
<script type="text/javascript" src="${rc.contextPath}/statics/js/menu.js"></script>
<script type="text/javascript" src="${rc.contextPath}/statics/js/doT.min.js"></script>

<!-- 工具类 -->
<script type="text/javascript" src="${rc.contextPath}/statics/js/common.js"></script>

<!-- treegrid -->
<link rel="stylesheet" href="${rc.contextPath}/statics/lib/bootstrap/css/bootstrap.css">
<link rel="stylesheet" href="${rc.contextPath}/statics/lib/treegrid/jquery.treegrid.css">
<link rel="stylesheet" href="${rc.contextPath}/statics/lib/treegrid/style.css">

<!-- treegrid -->
<script src="${rc.contextPath}/statics/lib/treegrid/jquery.treegrid.min.js"></script>
<script src="${rc.contextPath}/statics/lib/treegrid/jquery.treegrid.bootstrap3.js"></script>
<script src="${rc.contextPath}/statics/lib/treegrid/jquery.treegrid.extension.js"></script>
<script src="${rc.contextPath}/statics/lib/treegrid/tree.table.js"></script>

<!-- layer -->
<link rel="stylesheet" href="${rc.contextPath}/statics/lib/layer/skin/layer.css">
<script type="text/javascript" src="${rc.contextPath}/statics/lib/layer/layer.js"></script>

<!-- 表单验证 -->
<script src="${rc.contextPath}/statics/js/jquery.validate.js"></script>
<script src="${rc.contextPath}/statics/js/messages_zh.js"></script>

<!-- ztree -->
<link rel="stylesheet" href="${rc.contextPath}/statics/lib/zTree/css/metroStyle/metroStyle.css">
<!-- ztree  -->
<script src="${rc.contextPath}/statics/lib/zTree/js/jquery.ztree.all-3.5.min.js"></script>

<style type="text/css">
.error{
	color:red;
}
</style>