<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>梅州水库移民动态监管地理信息应用系统</title>
</head>
<frameset id="all" border="0" name="all" framespacing="0" rows="105,*" frameborder="0">
	<frame name="top" src="${rc.contextPath}common/head.html" noresize="" scrolling="no">
    <frameset id="mFrame" cols="0,0,*" frameborder="0" border="0" framespacing="0">
    	<!-- 二级菜单 -->
    	<frame src="${rc.contextPath}common/menu.html" name="left" scrolling="no" noresize="">
        <!-- 收缩栏 -->
        <frame src="${rc.contextPath}common/swich.html" name="switch" scrolling="no" noresize="">
		<!-- 内容 -->
		<frame src="${rc.contextPath}main.html" name="right" scrolling="auto" id="frm_main">
    </frameset>
</frameset>
<noframes></noframes>
</html>